.hide-bg{
    mix-blend-mode: multiply;
    filter: contrast(2);
  }
  .top-padding {
    margin-top: 160px;
  }
  .info-top-padding {
    margin-top: 40px;
  }
  
  .carousel-item img {
    height: 100%; /* Bootstrap handles width already */
    object-fit: cover; /* or 'contain' if you want stretch instead of crop */
  }
  
  .carousel-inner {
    height: 0;
    padding-bottom: 45%; /* this sets carousel aspect ratio (4:1 here) */
  }
  
  .carousel-item {
    position: absolute !important; /* Bootstrap is insistent */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .home-p {
    width: 75%;
  }
  .product-title {
    font-size: 1000%;
  }
  
  .info-p {
    font-size: 1.3rem;
  }
  
  .image-size {
    width: 50%;
  }
  .project-info {
    font-size: 0.8rem;
  }

  .responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: auto;
  }

  .video-corners {
    border-radius: 20px;
  }
  
  .center-element {
    width:500px;
    height:500px;
    margin:0 auto;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-250px;
    margin-top:-250px;
  }
  
  .row-padding {
    height: 230px;
  }
  .row-bottom-padding {
    height: 300px;
  }

  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }